* {
    margin: 0;
    padding: 0;
}

body#home {
    background-image: url('/images/spicess.jpg') ; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* font-family: Arial, sans-serif;  */
}
.glass{
    background-color: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
}
h3 {
    color: white;
    color:orangered;
}

.navbar {
    padding: 30px; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index:1000;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    margin-left: 20px;
    color: orangered;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 18px;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px;
    margin:20px 20px; 
    background-color: rgba(255, 255, 255, 0.2); 
    
}
h2{
    margin-top: 10px;
    color: white;
    font-size: 35px;
}

.homeicon {
    padding: 20px;
}
.top{
    margin-bottom: 40px;
    color: black;
}

.icons {
    display: flex;
    list-style: none;
    color: orangered;
    margin: 60px;

}
.icons li p{
    color: black;
    font-weight: 900;
}

.fas {
    margin: 0 20px;
    background-color: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    padding: 30px;
    font-size: 40px;
}
.cta {
    margin-top: 20px;
    display:flex;
}

.view, .order-online {
  
    background-color:#FF4500;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    margin: 20px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.view:hover, .order-online:hover {
    background-color: black;
}

.discount {
    display: flex; 
    justify-content: space-between;
    margin:20px; 
    padding: 20px; 
}

.discount img {
    max-width: 100%; 
    height: auto; 
}
.dis img{
    max-width: 20%;
}


#menu {
    display: flex;
    justify-content: space-evenly;
    margin: 40px ;
    padding: 20px;
    background-color:rgba(0, 0, 0, 0.1) ;
    backdrop-filter: blur(10px); 
    border-radius: 10px;

}

.category {
    margin-bottom: 20px;
}

.category h2 {
    color:white;
    font-size: 24px;
    margin-bottom: 10px;
}

.menu-item {
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    margin-bottom: 8px;
    color: white;
    margin: 30px;
}

.menu-item:hover {
    background-color: orangered;
}
.story-img {
    max-width: 45%;
    object-fit: cover;
    border-radius: 40px;
    margin-bottom: 100px;
}
.container{
    display: flex;
    margin: 10px;
}
.about{
    margin-left: 40px;
}
h1{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
    margin-top: 80px;
}
p{
    color: white;
    margin: 20px;
    font-size: 18px;
}
.gallery {
    margin: 40px;
    background-color:rgba(0, 0, 0, 0.1) ;
    backdrop-filter: blur(10px); 
}

#gallery {
    text-align: center;
    color:white;
}

.gallery-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px; 
    padding: 40px;
}

.gallery-images img {
    width: 100%; 
    height: auto; 
    max-height: 300px;
    object-fit: cover;
}
figcaption{
    text-align: center;
    margin-top: 10px;
    font-weight: 900;
    font-size: 18px;
    color: white;
}
.get{
    display: flex;
    justify-content: center;
}

.contact-us{
    display: flex;
    justify-content: center;
}

form{
    margin: 40px;
    max-width: 700px;
    width: 100%;
    padding: 30px;
    background-color:rgba(0, 0, 0, 0.15) ; 
    box-shadow:0 8px 8px 0px rgb(31, 38,135,0.37);
    backdrop-filter: blur(2px); 
    border-radius: 10px;
 
}
fieldset {
    padding: 20px; 
    border: 1px solid black; 
  }
  
legend {
    color:white;
    font-size: 30px; 
    font-weight: bold;
    text-align: center; 
  }
 form .contact{
    display: flex;
    justify-content:space-around ;
    flex-wrap: wrap;


  }
  .card-box{
    width: calc(100%/2 -20px);
    margin-bottom: 10px;
  }

  label{
    font-weight: bold;
    font-size: 18px;
  }
  input{
    height: 35px;
    width: 100%;
    padding-left: 10px;
    outline: none;
    border: none;
    color: black;
    font-size: 16px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 1px solid white;
  }
  #comments{              
    border: none;
    min-width: 638px;
    background:none;
    border: 1px solid white;
    color: white;
    font-size: 16px;
    outline: none;
    height: 100px;
  }
  #button{
    border: none;
    margin-top: 30px;
    font-weight: 400;
    font-size: 20px;
    width: 600px;
    cursor: pointer;
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: .4s ease all;
    background: #FF4500;

  }

.footer {
    background-color:rgba(0, 0, 0, 0.1) ;
    backdrop-filter: blur(2px); 
}

.footer-content {
    display: flex;
   justify-content: space-between;
}





